body {
  background-image: url(https://images.pexels.com/photos/301943/pexels-photo-301943.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Team1, .Team2{
  width: 300px;
  height: 300px;
  border: 5px blue solid;
  float: right;
  margin-right: 272px;
}

.unAssigned{
  width: 300px;
  height: 300px;
  border: 5px red solid;
  margin: 0 auto;
}
